* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card-wrapper {
    background-color: rgb(52, 255, 130);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.card {
    width: 570px;
    height: 850px;
    background-color: white;
    border-radius: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
}
.card-top {
    width: 540px;
    height: 350px;
    background-color: rgb(118, 229, 159);
    border-radius: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
}

.top-img img {
    position: relative;
    top:50px;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor:pointer;
    transition: 0.3s ease;
}
.top-img img:hover {
    transform: scale(1.1);
}

.top-texts h2 {
    position: relative;
    color: white;
    font-size: 43px;
    width: 200px;
    top:-60px;
    font: sans-serif;
    left: 20px; 
}
.top-texts p {
    position: relative;
    color: white;
    font-size: 20px;
    top:-60px;
    font: sans-serif;
    left: 15px; 
}



.phone {
    
    position: relative;
    top: -260px;
    color: rgb(0, 72, 28);
    font-size: 20px;
    right: 170px;
}
.phone-icon {
    position: relative;
    color: rgb(0, 72, 28);
    font-size: 20px;
   top:40px;
   right:10px;
     font-size: 38px;
}
.phone-text {
    position: relative;
    left: 50px;
}

.email {
    
    position: relative;
    top: -260px;
    color: rgb(0, 72, 28);
    font-size: 20px;
    right: 170px;
}

.email-icon {
    position: relative;
    color: rgb(0, 72, 28);
    font-size: 20px;
   top:40px;
   right:10px;
     font-size: 38px;
}
.email-text {
    position: relative;
    left: 50px;
}

.location {
    
    position: relative;
    top: -260px;
    color: rgb(0, 72, 28);
    font-size: 20px;
    right: 170px;
}
.location-icon {
    position: relative;
    color: rgb(0, 72, 28);
    font-size: 20px;
   top:40px;
   right:10px;
     font-size: 38px;
}
.location-text {
    position: relative;
    left: 50px;
}
.socials {
    position: relative;
    top: 100px;
    color: rgb(0, 72, 28);
    font-size: 20px;
    right: -40px;
}
.card-footer {
    width: 540px;
    height: 150px;
    background-color: rgb(118, 229, 159);
    border-radius: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    position: relative;
    top: 400px;
    right:550px;
}

.icon {
    position:relative;
    font-size: 50px;
    right: 150px;
    top:60px;
    cursor:pointer;
      transition: 0.3s ease;
}
.icon:hover {
  transform: scale(1.1);
}
.icon2 {
    position:relative;
    font-size: 50px;
    right: 47px;
    cursor:pointer;
      transition: 0.3s ease;
}
.icon2:hover {
  transform: scale(1.1);
}
.icon3 {
    position:relative;
    font-size: 50px;
    left: 60px;
    top: -57px;
    cursor:pointer;
    transition: 0.3s ease;
}
.icon3:hover {
  transform: scale(1.1);
}

.icon4 {
    position:relative;
    font-size: 50px;
    left: 170px;
    top: -112px;
    cursor:pointer;
    transition: 0.3s ease;
}
.icon4:hover {
  transform: scale(1.1);
}

.email-text a {
    color: rgb(0, 72, 28);
    text-decoration: none;
}

.location-text a {
    color: rgb(0, 72, 28);
    text-decoration: none;
}




