* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-wrapper {
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 570px;
    height: 850px;
    background-color: white;
    border-radius: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
}
.card-top {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(243, 49, 0);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card-top h2 {
    color: white;
    font-size: 30px;
    width: 200px;
    margin-left: 50px;
    font: sans-serif;
}
.card-top p {
    color: white;
    font-size: 15px;
    margin-left: 30px;
      font: sans-serif;
}
.titlerow {
margin-right: 300px;
}
.badge {
    background-color: rgb(36, 243, 0);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    position: relative;
    top: -22px;
    right: -230px;
}
.stars {
    position : relative;
    top: 10px;
}
.size h3 {
    position: relative;
    top: 50px;
    color: rgb(0, 0, 0);
}
.sizes {
    display: flex;
    gap: 10px;
    position: relative;
    top: 70px;
}
.one {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.one:hover {
  transform: scale(1.08);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 60, 0);
}
.one {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.one:hover {
  transform: scale(1.08);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 60, 0);
}
.two {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.two:hover {
  transform: scale(1.08);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 60, 0);
}
.four {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.four:hover {
  transform: scale(1.08);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 60, 0);
}
.five {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.five:hover {
  transform: scale(1.08);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 60, 0);
}
.one {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.one:hover {
  transform: scale(1.08);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 60, 0);
}
.six {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.six:hover {
  transform: scale(1.08);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 60, 0);
}

.card-footer {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.colors h4 {
    position: relative;
    right: 200px;
    color: rgb(0, 0, 0);
}
.color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.price {
    font-size: 35px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: rgb(36, 243, 0);
    border-radius: 5px;
    padding: auto;
    position: relative;
    left: 200px;
     transition: 0.3s ease;
     cursor: pointer;
}
.price:hover {
    transform: scale(1.08);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    background-color: rgb(36, 200, 0);
}
.color-section {
  display: flex;
  justify-content: space-between;
}

.colors {
    position: relative;
  display: flex;
  flex-direction: row;
  gap: 10px;
  top: 30px;
  right: 160px;
}

.colors span {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease;
}

.orange {
  background-color: #ff8c00;
}

.green {
  background-color: #04ff00;
}

.yellow {
  background-color: #ffea00;
}

.colors span:hover {
  transform: scale(1.2);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.color-section h4 {
 position: relative;
    right: 80px;
}

.logo {
    font-size: 50px;
    color: white;
    position: relative;
    right: 500px;
    top: -150px;


}